/* Declaring custom properties */
* {
  box-sizing: border-box;

}

body {
  margin: 0;

}

.carrito{
background-color: #2e2e2e;

}

.carrito ul{
padding: 0;
margin: 0;
text-align: right;
margin-right: 100px;
color: #a9a5a2;

}

.carrito li{
display: inline-block;
list-style-type: none;

}

.logo{
background-color: #454545;

}
.logo ul {
padding: 0;
margin: 0;


}

.logo li{
  display: inline-block;
  list-style-type: none;
}


.menu{

background-color: #f6f6f6;
text-align: center;

}
.menu li{

padding: 1em;
display: inline-block;
list-style-type: none;
}

.foto img {
max-width: 100%;
width: 100%;

}

.afooter{
background-color: #454545;
}

.afooter > ul{
list-style-type: none;
color: white;
font-weight: bold;
padding-left: 200px;
padding-top: 50px;
font-size: 25px;
}

.afooter p {
padding-left: 200px;
color: grey;
padding-bottom: 80px;
}

.footer{
background-color: #f8c420;
letter-spacing: 10px;
text-align: center;
font-size: 15px;
color: #454545;
padding-top: 5px;
padding-bottom: 5px;
}
